# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Django
db.sqlite3
*.log
local_settings.py

# Virtual environments
venv/
env/
.env/

# Distribution / packaging
*.egg-info/
dist/
build/

# Static files collected
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo
